
.van-floating-bubble {
  background: transparent !important;
  color: black;
  border-radius: 10px;
  width: 120px;
  height: 120px;
  // right: 120px !important;
  left: 0px;
  display: block;
  // top: 120px;
}

