:deep(.el-checkbox) {
  height: 58px;
  .el-checkbox__input {
    width: 28px;
    height: 28px;
  
    .el-checkbox__inner {
      width: 28px;
      height: 28px;
      background: transparent;
      border: 2px solid black;
      
    }


   

    .el-checkbox__inner::after {
      // width: 5px;
      // transform: scale(.5);
      transform: rotate(45deg) scaleY(0.8) scale(2.4);
      top: 6px;
      left: 10px;
      // color: black;
      border-color: transparent;
      // border: 2px solid black;
    }
  }

  .is-checked {
    .el-checkbox__inner::after {
      // width: 5px;
      // transform: scale(.5);
      transform: rotate(45deg) scaleY(0.8) scale(2.4);
      top: 6px;
      left: 10px;
      // color: black;
      border-color: black;
      // border: 2px solid black;
    }
  }

  .el-checkbox__label{
    font-size: 18px;
    letter-spacing: 2px;
    font-family: SYHT-Regular;
    font-weight: normal;
    margin-left: 18px;
  }


}

:deep(.el-checkbox.is-checked){
  .el-checkbox__label{
    color: black !important;
  }
}