  .editor {
    width: 100%;
    height: 100%;
    position: absolute;
    // top: 0;
    // bottom: 0;
    left: -1px;
    // right: 0;
    margin: auto;
    border-radius: 30px;
  }

  .jsoneditor-outer {
    border-radius: 50% !important;
    padding-top: 10px;
  }


  .ace_scroller {



    .ace_content {
      .ace_layer {


        .ace_line_group {

          .ace_line {

            .ace_paren {
              font-size: 20px !important;
            }
          }
        }
      }
    }
  }