#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: white;
}


.dialogc {
  border-radius: 8px !important;
  padding: 20px 0px 20px 0px !important;
  background: linear-gradient(to bottom, #2897db, #4e61cc) !important;
  color: white !important;


  .el-dialog__header {
    text-align: center;
    // margin-left: 24px;

    line-height: 0px;
    border-bottom: 3px solid #93bdf5;

    .el-dialog__title {
      // font-family: SYHT-Bold;
      // font-size: 20px;
      // letter-spacing: 2px;
      // color: white !important;
    }

    .el-dialog__headerbtn {
      display: none;
    }
  }

  .dialogc_header_box {
    padding: 10px 0px;

    .title {
      margin-left: 41px;
      font-family: SYHT-Bold;
      font-size: 20px;
      letter-spacing: 2px;
      color: white !important;
    }

    .close_icon {}
  }

  .el-dialog__body {
    padding-left: 26px;
    padding-right: 26px;
  }

  .el-dialog__footer {
    padding-left: 26px;
    padding-right: 26px;

    .dialog-footer {

      .el-button {
        transition: 0.2s;
        width: 48.6%;
        height: 42px;
        text-align: center;
        box-shadow:
          1px 1px 2px #fff,
          -1px -1px 2px #fff;

        span {
          color: rgb(97, 96, 96) !important;
          font-family: 'SYHT-Bold';
          font-size: 17px;
          letter-spacing: 14px;
          // position: relative;
          margin-left: 20px;
          // border: 1px solid red;
        }
      }

      .el-button:active {
        transform: scale(0.8);
      }

      .el-button--primary {
        background: linear-gradient(180deg, rgb(23, 170, 238) 0%, rgba(15, 104, 251, 1) 100%);
        border: none;
        box-shadow:
          1px 1px 2px #3d49b4,
          -1px -1px 2px #3d4bc7;

        span {
          color: white !important;
        }
      }

    }
  }



  /* 表单 */
  .el-form {
    .el-form-item {
      margin-bottom: 25px;

      .el-form-item__label-wrap {
        .el-form-item__label {
          color: white;
          font-size: 18px;
        }
      }
    }
  }
}


.el-popper {

  .el-select-dropdown {
    font-size: 20px;
    font-family: SYHT-Regular;
    color: rgb(126, 126, 126);
    letter-spacing: 2px;
  }
}


.el-picker-panel {
  transform: scale(1.5);
  font-family: SYHT-Regular;

  .el-picker-panel__body-wrapper {
    .el-picker-panel__body {}
  }
}


* {
  // filter: blur(0px)
  backdrop-filter: none;
}


svg * {
  filter: blur(0px);
  backdrop-filter: blur(0px);
}


/* 曲线图 - tooltip */
.curve_graph_tooltip_wrap {
  box-shadow: none !important;
  width: 260px;
  height: 120px;
  // border: 1px solid red !important;

  // background-color: white !important;

  .curve_graph_tooltip_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url(./image/tooltip_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .header {
      height: 32px;
      line-height: 32px;
      padding: 0px 0px 0px 10px;

      .title {
        font-size: 16px;
        letter-spacing: 2px;
        // font-family: SYHT-Bold;
      }
    }


    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 20px 0px 14px;

      .param_name {
        font-size: 16px;
        letter-spacing: 2px;
        font-family: SYHT-Bold;
      }

      .out {
        .param_value {
          font-size: 18px;
          letter-spacing: 2px;
          font-family: SYHT-Bold;
        }

        .param_unit {
          font-size: 12px;
          letter-spacing: 2px;
          font-family: SYHT-Regular;
          margin-left: 3px;
        }
      }
    }
  }
}